@using EventManagemenetApp.EntityFramework
@model HomePageViewModel
@{
    Layout = "~/Views/Shared/_Customer_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<style>
    .container{
        background: transparent !important;
    }
    
</style>
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="/theme/img/hero.jpg">
    <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-text">
                        <span>5 to 9 may 2019, mardavall hotel, New York</span>
                        <h2>Book your special day<br /> with us</h2>
                        <a href="#" class="primary-btn">Book Events</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="/theme/img/hero-right.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
<div class="container mt-4" style="
    background-color: #48d4e0 !important;
">
    <div class="col-lg-12">
        <div class="section-title">
      <h2>Venues</h2>
        </div>
    </div>
            <div class="row">
                @foreach (var m in Model.Venues)
                {
                    <div class="col-md-4 mb-4">

                            <div class="card">
                                <img src="/@m.VenueFilePath" class="card-img-top" width="200" height="200" alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title">@m.VenueName</h5>
                                    <p class="card-text">$ @m.VenueCost</p>
                                </div>
                            </div>
                    </div>

                    <!-- End of Product Cards -->
                }
            </div>
        </div>
<div class="container mt-4" style="
    background-color: #a1ebcb !important;
">
    <div class="col-lg-12">
        <div class="section-title">
            <h2>Equipments</h2>
        </div>
    </div>
            <div class="row">
                @foreach (var m in Model.Equipment)
                {
                    <div class="col-md-4 mb-4">

                            <div class="card">
                                <img src="/@m.EquipmentFilePath" class="card-img-top" width="200" height="200" alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title">@m.EquipmentName</h5>
                                    <p class="card-text">$ @m.EquipmentCost</p>
                                </div>
                            </div>
                    </div>

                    <!-- End of Product Cards -->
                }
            </div>
        </div>
 <div class="container mt-4" style="
    background-color: #48d4e0 !important;
">
    <div class="col-lg-12">
        <div class="section-title">
      <h2>Foods</h2>
        </div>
    </div>
            <div class="row">
                @foreach (var m in Model.Foods)
                {
                    <div class="col-md-4 mb-4">

                            <div class="card">
                                <img src="/@m.FoodFilePath" class="card-img-top" width="200" height="200" alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title">@m.FoodName</h5>
                                    <p class="card-text">$ @m.FoodCost</p>
                                </div>
                            </div>
                    </div>

                    <!-- End of Product Cards -->
                }
            </div>
        </div>
<div class="container mt-4" style="
    background-color: #a1ebcb !important;
">
    <div class="col-lg-12">
        <div class="section-title">
            <h2>Flowers</h2>
        </div>
    </div>
            <div class="row">
                @foreach (var m in Model.Flowers)
                {
                    <div class="col-md-4 mb-4">

                            <div class="card">
                                <img src="/@m.FlowerFilePath" class="card-img-top" width="200" height="200" alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title">@m.FlowerName</h5>
                                    <p class="card-text">$ @m.FlowerCost</p>
                                </div>
                            </div>
                    </div>

                    <!-- End of Product Cards -->
                }
            </div>
        </div>

<div class="container mt-4" style="
    background-color: #48d4e0 !important;
">
    <div class="col-lg-12">
        <div class="section-title">
            <h2>Lights</h2>
        </div>
    </div>
    <div class="row">
        @foreach (var m in Model.Lights)
        {
            <div class="col-md-4 mb-4">

                <div class="card">
                    <img src="/@m.LightFilePath" class="card-img-top" width="200" height="200" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@m.LightName</h5>
                        <p class="card-text">$ @m.LightCost</p>
                    </div>
                </div>
            </div>

        }
    </div>
</div>